<div class="modal fade" id="logoutModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Ready to Leave?</h5>
            </div>

            <div class="modal-body">
                Logout confirmation
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Logout</a>
            </div>

        </div>
    </div>
</div>