{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <form class="d-none d-sm-inline-block form-inline mr-auto">
        <input type="text" class="form-control bg-light small" placeholder="Search...">
    </form>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="#">
                <i class="fas fa-bell fa-fw"></i>
            </a>
        </li>

        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link" href="#">
                <i class="fas fa-envelope fa-fw"></i>
            </a>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                {% if request.user.photo %}
                    <img class="img-profile rounded-circle" src="{{ request.user.photo.url }}" width="40px">
                {% else %}
                    <img src="{% static 'img/undraw_profile_2.svg' %}" alt="" width="40px">      
                {% endif %}
            </a>
        </li>

    </ul>

</nav>