<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <i class="fas fa-sync-alt fa-lg"></i>
        <div class="sidebar-brand-text mx-3">Likelemba</div>
    </a>

    <hr class="sidebar-divider">

    <!-- DASHBOARD -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider">

    <!-- ADMIN ONLY -->
    {% if request.user.role == 'ADMIN' %}
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-layer-group"></i>
            <span>Gérer Groupes</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-users"></i>
            <span>Gérer Membres</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-sync-alt"></i>
            <span>Gérer Tours</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-coins"></i>
            <span>Gérer Cotisations</span>
        </a>
    </li>
    {% endif %}

    <!-- MEMBRE -->
    {% if request.user.role == 'MEMBRE' %}
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-user"></i>
            <span>Mes Groupes</span>
        </a>
    </li>
    {% endif %}

</ul>