{% extends 'base.html' %}

{% block content %}

<h1 class="h3 mb-4 text-gray-800"><i class="fas fa-hand-holding-usd"></i>Dashboard Membre</h1>

<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h5>Mes Groupes</h5>
                <p>Voir mes groupes</p>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <h5>Paiements</h5>
                <p>Mes cotisations</p>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <h5>Tour</h5>
                <p>Voir mon tour</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}